
html {
    font-family: brevia, sans-serif; //gelica
    font-style: normal;
    font-weight: 400;
}

strong, b {
    font-weight: 700;
}

a:link, a:visited {
    color: #4a81a8;
}


.alignRight {
    text-align: right;
}

.alignLeft {
    text-align: left;
}

.justifyInline {
    display: flex;
    justify-content: space-between;
    height: 2.8em;
    line-height: 1;
}

.raisedDiscountLabel {
    margin-top: 3px;
    margin-bottom: 15px;
}

.indentBox {
    float: right; 
    width: 95%;
}


.inlineHeader {
    display: table;
    width: 100%;

    .cell {
        display: table-cell;
        vertical-align: middle;
        width: auto;
        
        h3, h4 {
            white-space: nowrap
        }
    
        .line {
            width: calc(100% - 20px);
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 3px;
        }
    }
}

.inlineIconDisplay {
    display: block;
    width: 100%;
    

    .sizedCell {
        margin: 20px;
        width: 130px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;

        img {
            height: 100px;
        }
    }
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: none;
    color: white;

    text-align: center;
    font-family : inherit;
    font-size: 1em;

    padding: 16px 32px;
    margin: 4px 2px;

    transition-duration: 0.4s;
    cursor: pointer;
}
  
.buy {
    background-color: #b68be7;
    color: white; 
}
  
.buy:hover {
    background-color: #9871c5;
}

.clearfix {
    content: "";
    clear: both;
    display: table;
}