<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>

    <script src="{{ site.baseurl }}/assets/js/mobileDetection.js"></script>

    <link
      href="{{ site.baseurl }}/assets/css/styles.css"
      id="pagestyle"
      rel="stylesheet">

  </head>
  <body style="background-image: url({{ site.baseurl }}/assets/images/backgroundGradient2.png);">
    <div class="backgroundAddition" style="background-image: url({{ site.baseurl }}/assets/images/backgroundHash2.png);"></div>
    <div class="backgroundAddition2" style="background-image: url({{ site.baseurl }}/assets/images/backgroundHash.png);"></div>
    <div class="box" style="background-image: url({{ site.baseurl }}/assets/images/boxDecor.png);">
      {% include navigation.html %}
      {{ content }}
    </div>
  </body>
</html>
